/*
 * Copyright 2018 Technexion Ltd.
 *
 * Author: Tapani Utriainen <tapani@technexion.com>
 *         Richard Hu <richard.hu@technexion.com>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 *
 */

#include <tnmacro.h>

/ {
	gpio-edm {
		compatible = "gpio-edm";
#ifdef EDM1_EXT_FT5X06_IOMUX_FAIRY
		pinctrl-names = "default";
		pinctrl-0 = <EDM1_EXT_FT5X06_IOMUX_FAIRY>; /* Touch IRQ and Touch Reset */   
#else
		gpio_p261 {
			label = "GPIO_P261";
			gpios = <&EDM_EXT_GPIO_P261 GPIO_ACTIVE_HIGH>;
			dir   = "out";
		};
		
		gpio_p264 {
			label = "GPIO_P264";
			gpios = <&EDM_EXT_GPIO_P264 GPIO_ACTIVE_HIGH>;
			dir   = "out";
		};
#endif
		gpio_p256 {
			label = "GPIO_P256";
			gpios = <&EDM_EXT_GPIO_P256 GPIO_ACTIVE_HIGH>;
			dir   = "out";
		};
/*
		gpio_p257 {
			label = "GPIO_P257";
			gpios = <&EDM_EXT_GPIO_P257 GPIO_ACTIVE_HIGH>;
			dir   = "out";
		};
*/
		gpio_p258 {
			label = "GPIO_P258";
			gpios = <&EDM_EXT_GPIO_P258 GPIO_ACTIVE_HIGH>;
			dir   = "out";
		};

		gpio_p260 {
			label = "GPIO_P260";
			gpios = <&EDM_EXT_GPIO_P260 GPIO_ACTIVE_HIGH>;
			dir   = "out";
		};

		gpio_p262 {
			label = "GPIO_P262";
			gpios = <&EDM_EXT_GPIO_P262 GPIO_ACTIVE_HIGH>;
			dir   = "out";
		};

	};
	
	backlight_lcd {
		compatible = "pwm-backlight";
		pwms = <&pwm4 0 50000 0>;
		brightness-levels = <0 36 72 108 144 180 216 255>;
		default-brightness-level = <6>;
		status = "okay";
	};
	
};

&EDM_I2CA {
	status = "okay";

	fxas2100x@21 {
		compatible = "fsl,fxas2100x";
		reg = <0x21>;
	};

	fxos8700@1e {
		compatible = "fsl,fxos8700";
		reg = <0x1e>;
	};

	mpl3115@60 {
		compatible = "fsl,mpl3115";
		reg = <0x60>;
	};
};

&EDM_I2CB {
	status = "okay";

	pca9554: pca9554@25 {
		compatible = "nxp,pca9554";
		gpio-controller;
		#gpio-cells = <2>;
		#interrupt-cells = <2>;
		reg = <0x25>;
	};

	polytouch: edt-ft5x06@38 {
		compatible = "edt,edt-ft5x06";
		reg = <0x38>;
		interrupt-parent = <&GPIO_BANK(EDM_EXT_GPIO_P261)>; /* GPIO_P261 J1B-261 */
		reset-gpios = <&EDM_EXT_GPIO_P264 GPIO_ACTIVE_LOW>; /* GPIO_P264 J1B-264 */
		interrupts = <GPIO_NO(EDM_EXT_GPIO_P261) 0>;
		touchscreen-size-x = <800>;
		touchscreen-size-y = <480>;
	};
	
};

&EDM_I2CC {
	status = "okay";
};

&EDM_CANA {
	status = "okay";
};

&EDM_CANB {
	status = "okay";
};

&EDM_SPIA {
	status = "okay";

	ads7846@0 {
		reg = <0>;  /* CS0 */
		compatible = "ti,ads7846";
		interrupt-parent = <&GPIO_BANK(EDM_EXT_GPIO_P263)>;
		interrupts = <GPIO_NO(EDM_EXT_GPIO_P263) 0>;
		spi-max-frequency = <1000000>;
		pendown-gpio = <&EDM_EXT_GPIO_P263 0>;
		vcc-supply = <&reg_3p3v>;

		ti,x-min = /bits/ 16 <0>;
		ti,x-max = /bits/ 16 <4095>;
		ti,y-min = /bits/ 16 <0>;
		ti,y-max = /bits/ 16 <4095>;
		ti,pressure-max = /bits/ 16 <1024>;
		ti,x-plate-ohms = /bits/ 16 <90>;
		ti,y-plate-ohms = /bits/ 16 <90>;
		ti,debounce-max = /bits/ 16 <70>;
		ti,debounce-tol = /bits/ 16 <3>;
		ti,debounce-rep = /bits/ 16 <2>;
		ti,settle-delay-usec = /bits/ 16 <150>;

		linux,wakeup;
	};
};
